body{
    background: red;
    color:black;
    text-align: center;
}

#app{
    background: aliceblue;
}

#meuCarrosel{
    background:red;
}
#meuCarrosel img{
   height:300px;
   margin-top: 35px;
}

.carousel-inner{
    margin-top:15px;
    color:white;
    font-size: 20px;
}

.menu{
    display:flex;
    justify-content: center;
    list-style: none;
    background:darkred;
    color:white;
    padding:30px;
}

.topo{
    background:white;
    padding:20px;
}

.link a{
    padding:19px;
    font-size: 40px;
    text-decoration: none;
    color:white;

}

.link a:hover {
    text-decoration: underline;
    color:red;
}


.container{
    background:red;
}